nav > ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a{
  color: white;
  background-color: #008CBA;
  text-decoration: none;
  padding:1rem

}

h1{
  text-align: center;
}
