<section>
  <!-- Poniżej html dla opcji bez zdjęcia
    <div class="circle clickable" (click)="openMenu = !openMenu" title="Click here to toggle user details">
    <span class="initials">{{username|userFirstLetter}}</span>
  </div> -->
  <img class="circle clickable" src='../../assets/avatar.jpg' title="Click here to toggle user details"
    (click)="openMenu = !openMenu">
  <div class="dropdown-content centered" *ngIf="openMenu">
    <img class="circle" src='../../assets/avatar.jpg' title="Click here to toggle user details">
    <input type="hidden" [routerLink]="'/profile'" routerLinkActive [routerLinkActiveOptions]="{exact: true}"
      #profile="routerLinkActive" />
    <a routerLink="/profile" *ngIf="!profile.isActive">Navigate to profie</a>
    <p>{{username}}</p>
    <button (click)="logout()">Log out</button>
  </div>
</section>
