<section class="centered">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="centered">
    <label for="email">Email: </label>
    <input type="text" id="email" formControlName="email" placeholder="Email"><br><br>
    <label for="password">Password: </label>
    <input type="text" id="password" formControlName="password" placeholder="Password" type="password"><br><br>
    <div class="field-message" *ngIf="password.errors?.isPasswordStrong.hasUpperCase">
      Password must contain at least one uppercase letter
    </div>
    <div class="field-message" *ngIf="password.errors?.isPasswordStrong.hasNumeric">
      Password must have at least one number
    </div>
    <div class="field-message" *ngIf="password.errors?.isPasswordStrong.hasSpecialChars">
      The password must have at least one special character
    </div>
    <input type="submit" value="Sign up">
  </form>
  <p>Already have an account? <a routerLink="/login">Sign in</a></p>

  <app-snackbar></app-snackbar>
</section>
